html {
  height: 100%;
}

body {
  min-height: 100%;
}

 div#title {
    color: black;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    height: 50%;
    padding: 1em;
    margin-top: 21%;
  }


 div#content {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
  }

#question{
	font-size: 30px;
}
#extras {
    text-align: center;
  }

.button {
  background-color: #00000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


