{% extends "layout.html" %}


{% block content %}
	<div id="question">
		<b> Press button to roll!</b>
	</div>
	<br><br>

	<button class="button" id="roll">Pick My Poison!</button>
	<br><br><br><br>
{% endblock %}

{% block extras %}
	<a href="/view"><button class="button" id="view">View All</button></a><br><br>
	
	<form action="/add" method="post">
		<input type="text" id= "new_q" required="required" name="new_q"><br>
		<button class="button" type="submit"> Add Question</button>
	</form>
{% endblock %}