<!DOCTYPE html>
<html>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<meta name=”viewport” content=”width=device-width, initial-scale=1″>
	<body>
		<div id="title">
			<h2>The Truth or Drink Question Picker</h2>
		</div>

		<div id="content">
			<div id="question">
				<h3 id="question">Press Roll to pick!</h3>
			</div>

			<button id="roll">Pick My Poison!</button>
		</div>
	

	</body>
</html>