{% extends "layout.html" %}


{% block content %}
	<script>
	    function SomeDeleteRowFunction(o) {
	    	var p=o.parentNode.parentNode;
	        p.parentNode.removeChild(p);

	        var q = o.parentNode.siblingNode;


    	}

	</script>

	<table style="width:100%">
		{% for (val, item) in lst %}
			<tr>
				<td>{{item}}</td>
				<td>
					<form action="/delete">
						<input type="hidden" id="row_id" name="row_id" value={{val}}>
						<input type="submit" value="Delete" onclick="SomeDeleteRowFunction(this)">
					</form>
				</td>
			</tr>
		{% endfor %}
	</table>



{% endblock %}

